.header-section {
    background-color: black;
    position: relative;
    top: 0;
}

.search-content-wrapper-section {
    background-color: black;
    padding-top: 20px;

    .container {
        .search-content-wrapper-container {
            display: flex;
            gap: 20px;

            .search-page-aside-bar-section {
                background-color: black;
                height: 86vh;
                overflow-y: auto;

                .search-page-aside-bar-container {
                    height: 100%;
                    display: flex;

                    .aside-bar-content-container {
                        padding: 0 30px 20px 0;
                        max-height: 100%;

                        h2 {
                            background: linear-gradient(161.51deg, #AAAAAA 12.53%, rgba(255, 255, 255, 0.587) 107.92%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 20px;
                            line-height: 40px;
                            font-family: "bambino";
                            margin-bottom: 10px;
                        }

                        .content-filter-dropdown-container {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            width: 226px;
                            max-height: 100%;

                            .custom-select-element {
                                border-radius: 16px;
                                display: flex;
                                position: relative;
                                background: linear-gradient(10.01deg, rgba(255, 255, 255, 0.089) 13.36%, rgba(221, 229, 255, 0.27) 114.95%);
                                width: 100%;
                                -webkit-tap-highlight-color: transparent;
                                transition: all .3s ease;

                                .custom-select-label-wrapper {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                    cursor: pointer;
                                    border-radius: inherit;
                                    gap: 8px;
                                    padding: 16px;
                                    width: 100%;
                                    user-select: none;

                                    .custom-select-icon-txt {
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;

                                        .custom-select-label-txt {
                                            font-family: 'hellix';
                                            color: white;
                                        }
                                    }

                                    .custom-select-chevron {
                                        display: flex;
                                        align-items: center;
                                        transition: all .3s ease;

                                        svg {
                                            width: 18px;
                                            height: 18px;

                                            path {
                                                stroke: white;
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    background: linear-gradient(10.01deg, rgba(255, 255, 255, 0.139) 13.36%, rgba(221, 229, 255, 0.34) 114.95%);
                                }
                            }

                            .find-money-boy-btn {
                                border-radius: 20px;
                                padding: 19px 0;

                                span {
                                    font-size: 20px;
                                    line-height: 25px;
                                    font-weight: 500;
                                }
                            }

                            .search-near-me-btn {
                                font-size: 20px;
                                line-height: 26px;
                                padding: 18px 0;
                            }

                            /* ---------------------------------------------  */
                            /*    Search Aside bar Advanced Filter Wrapper    */
                            /* ---------------------------------------------  */
                            .aside-bar-advanced-filter-wrapper {
                                margin: 16px 0 22px;
                                display: flex;
                                justify-content: space-between;
                                transition: all .3s ease;
                                cursor: pointer;

                                h3 {
                                    font-size: 18px;
                                    line-height: 24px;
                                    color: rgba(255, 255, 255, 0.771);
                                    font-family: var(--ff-bambino);
                                    letter-spacing: 1.5px;
                                    transition: all .3s ease;
                                    user-select: none;
                                }

                                .custom-select-chevron {
                                    margin-left: 6px;
                                    transition: all .3s ease;
                                }

                                svg {
                                    path {
                                        transition: all .3s ease;
                                        stroke: rgba(255, 255, 255, 0.771);
                                    }
                                }

                                &:hover {
                                    h3 {
                                        color: var(--white);
                                    }

                                    svg {
                                        path {
                                            stroke: white;
                                        }
                                    }
                                }

                                &.aside-bar-advanced-filter-wrapper.active {
                                    .custom-select-chevron {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            .aside-bar-advanced-filter-list-container {
                                display: grid;
                                grid-template-rows: 0fr;
                                transition: all .4s ease;
                                opacity: 0;
                                height: 0;
                                max-height: 100%;
                                visibility: hidden;

                                .aside-bar-advanced-filter-list {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 18px;
                                    color: var(--white);
                                    transition: all 0.4s ease;

                                    .aside-bar-filter-online-panel {
                                        display: flex;
                                        justify-content: space-between;

                                        .online-filter-text {
                                            display: flex;
                                            gap: 4px;
                                            align-items: center;

                                            span {
                                                font-size: 16px;
                                                line-height: 21px;
                                                font-family: var(--ff-hellix);
                                            }

                                            .online-active-state {
                                                width: 5px;
                                                height: 5px;
                                                border-radius: 50%;
                                                background-color: var(--green);
                                                margin-top: 5px;
                                            }
                                        }

                                        /* Online Filter Toggle Switch  */
                                        .online-filter-toggle-switch {
                                            position: relative;
                                            display: inline-block;
                                            width: 25px;
                                            height: 15px;

                                            input {
                                                opacity: 0;
                                                width: 0;
                                                height: 0;

                                                &:checked+.online-filter-toggle {
                                                    background-color: var(--green);

                                                    &::before {
                                                        transform: translateX(10px);
                                                    }
                                                }
                                            }

                                            .online-filter-toggle {
                                                position: absolute;
                                                cursor: pointer;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                background-color: #333333;
                                                transition: 0.4s;
                                                border-radius: 34px;

                                                &::before {
                                                    position: absolute;
                                                    content: "";
                                                    height: 10px;
                                                    width: 10px;
                                                    left: 3px;
                                                    bottom: 3px;
                                                    background-color: white;
                                                    transition: 0.4s;
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                    }

                                    .aside-bar-filter-search-panel {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 8px;

                                        .advanced-search-panel-head {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            .search-panel-text {
                                                font-size: 16px;
                                                line-height: 21px;
                                                font-family: var(--ff-hellix);
                                            }

                                            svg {
                                                transition: all .3s ease;

                                                path {
                                                    transition: all .3s ease;
                                                }

                                                &:hover {
                                                    cursor: pointer;
                                                    transform: scale(1.02);

                                                    path {
                                                        stroke: white;
                                                    }
                                                }
                                            }
                                        }

                                        .advanced-search-panel-input {
                                            width: 100%;
                                            position: relative;
                                            user-select: none;

                                            svg {
                                                position: absolute;
                                                top: 13px;
                                                left: 16px;

                                                path {
                                                    stroke: rgba(175, 167, 167, 0.481);
                                                }
                                            }

                                            input {
                                                width: 100%;
                                                height: 50px;
                                                border-radius: 16px;
                                                background: linear-gradient(34.01deg, rgba(255, 255, 255, 0.048) 13.36%, rgba(221, 229, 255, 0.27) 114.95%),
                                                    linear-gradient(10deg, rgba(2, 28, 120, 0.01), rgba(2, 28, 120, 0.092));
                                                outline: none;
                                                padding-left: 50px;
                                                color: white;
                                                caret-color: white;
                                                font-size: 14px;
                                                line-height: 19px;
                                                font-family: var(--ff-hellix);
                                                transition: all .3s ease;
                                                user-select: none;
                                                border: 1px solid black;

                                                &::placeholder {
                                                    font-size: 14px;
                                                    font-family: var(--ff-bambino);
                                                    transition: all .3s ease;
                                                }
                                            }

                                            &:hover {
                                                svg {
                                                    transform: scale(1.1);

                                                    path {
                                                        stroke: rgb(156, 151, 151);
                                                    }
                                                }

                                                input {
                                                    background: linear-gradient(34.01deg, rgba(255, 255, 255, 0.1) 13.36%, rgba(221, 229, 255, 0.35) 114.95%),
                                                        linear-gradient(10deg, rgba(2, 28, 120, 0.05), rgba(2, 28, 120, 0.067));
                                                    border: 1px solid rgba(255, 255, 255, 0.507);

                                                    &::placeholder {
                                                        color: rgb(156, 151, 151);
                                                    }
                                                }
                                            }

                                            &:has(input:focus) {
                                                svg {
                                                    path {
                                                        stroke: white;
                                                    }
                                                }

                                                input {
                                                    border: 1px solid white;
                                                }
                                            }
                                        }
                                    }

                                    .aside-bar-filter-location-panel {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;

                                        .filter-loctaion-panel-head {
                                            display: flex;
                                            justify-content: space-between;

                                            .filter-location-text {
                                                font-size: 16px;
                                                line-height: 21px;
                                                font-family: var(--ff-hellix);
                                                color: white;
                                                white-space: nowrap;

                                                span {
                                                    font-size: 13px;
                                                    line-height: 13px;
                                                }
                                            }

                                            svg {
                                                cursor: pointer;

                                                path {
                                                    transition: all .3s ease;
                                                }

                                                &:hover {
                                                    path {
                                                        stroke: white;
                                                    }
                                                }
                                            }
                                        }

                                        /* ###############################  */
                                        /* ###############################  */
                                        /* ###############################  */
                                        /* ###############################  */
                                        /* Location Custom Range input  */
                                        .location-custom-range-input {
                                            .location-custom-input {
                                                -webkit-appearance: none;
                                                /* Default browser styling khatam karne ke liye */
                                                width: 100%;
                                                height: 4px;
                                                border-radius: 10px;
                                                background: #333;
                                                /* Default track color */
                                                outline: none;
                                                cursor: pointer;
                                            }

                                            /* Slider Thumb (Handle) for Chrome, Safari, Edge */
                                            .location-custom-input::-webkit-slider-thumb {
                                                -webkit-appearance: none;
                                                height: 16px;
                                                width: 10px;
                                                background: linear-gradient(180deg, #fece26 0%, #e5741f 100%);
                                                /* Neeche se nokeela banane ke liye clip-path */
                                                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
                                                border-radius: 2px;
                                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                                                margin-top: 0px;
                                                /* Thumb ko line ke center mein lane ke liye */
                                                transition: all .3s ease;
                                            }

                                            /* Slider Thumb (Handle) for Firefox */
                                            .location-custom-input::-moz-range-thumb {
                                                background: linear-gradient(180deg, #fece26 0%, #e5741f 100%);
                                                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
                                                border: none;
                                                border-radius: 2px;
                                            }

                                            /* Hover effect taake handle thora bara lage */
                                            .location-custom-input::-webkit-slider-thumb:hover {
                                                transform: scale(1.1);
                                            }
                                        }
                                    }

                                    .aside-bar-filter-age-panel {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 20px;
                                        margin-bottom: 26px;

                                        .filter-loctaion-age-head {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            .filter-age-text {
                                                font-size: 16px;
                                                line-height: 21px;
                                                font-weight: 300;
                                                color: var(--white);
                                                font-family: var(--ff-hellix);

                                                span {
                                                    font-size: 13px;
                                                    margin-left: 6px;
                                                }
                                            }

                                            svg {
                                                cursor: pointer;

                                                path {
                                                    transition: all .3s ease;
                                                }

                                                &:hover {
                                                    path {
                                                        stroke: white;
                                                    }
                                                }
                                            }
                                        }

                                        /* ##########################   */
                                        /* ##########################   */
                                        /* ##########################   */
                                        /* ##########################   */
                                        /* Double Range Input Slider   */
                                        .custom-double-range-input {
                                            position: relative;

                                            .slider-track {
                                                position: absolute;
                                                width: 100%;
                                                height: 4px;
                                                background-color: #444;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                border-radius: 2px;
                                                z-index: 1;
                                                transition: all .3s ease;
                                            }

                                            /* Active Range (Yellow Line) */
                                            .slider-range {
                                                position: absolute;
                                                height: 2px;
                                                background: linear-gradient(0deg, #e5741f 0%, #fece26 100%);
                                                top: 50%;
                                                transform: translateY(-50%);
                                                z-index: 2;
                                                border-radius: 2px;
                                            }

                                            /* Inputs Styling */
                                            input[type="range"] {
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                width: 100%;
                                                outline: none;
                                                position: absolute;
                                                margin: auto;
                                                top: 0;
                                                bottom: 0;
                                                background-color: transparent;
                                                pointer-events: none;
                                                /* Pointer ignore karega track ko */
                                                z-index: 3;
                                            }

                                            /* Custom Handle (Thumb) */
                                            input[type="range"]::-webkit-slider-thumb {
                                                -webkit-appearance: none;
                                                appearance: none;
                                                height: 16px;
                                                width: 10px;
                                                background: linear-gradient(0deg, #e5741f 0%, #fece26 100%);
                                                cursor: pointer;
                                                border-radius: 2px;
                                                pointer-events: auto;
                                                /* Sirf handle click hoga */
                                                clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
                                                transition: all .3s ease;
                                            }

                                            input[type="range"]::-moz-range-thumb {
                                                background: linear-gradient(0deg, #e5741f 0%, #fece26 100%);
                                                cursor: pointer;
                                                border-radius: 2px;
                                                pointer-events: auto;
                                                clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
                                                border: none;
                                            }

                                            &.custom-double-range-input input[type="range"]::-webkit-slider-thumb:hover {
                                                transform: scale(1.1);
                                            }
                                        }

                                        input {}
                                    }

                                    .filter-menu-item {
                                        position: relative;

                                        svg {
                                            transition: all .3s ease;
                                        }

                                        .filter-menu-panel {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            span {
                                                font-size: 16px;
                                                font-weight: 600;
                                                line-height: 20px;
                                                color: var(--white);
                                                font-family: var(--ff-hellix);
                                                transition: all .3s ease;
                                            }

                                            svg {
                                                transition: all .3s ease;

                                                path {
                                                    transition: all .3s ease;
                                                    stroke: rgba(255, 255, 255, 0.696);
                                                }
                                            }

                                            &:hover {
                                                cursor: pointer;

                                                span {
                                                    color: var(--primary-yellow);
                                                }

                                                svg {
                                                    path {
                                                        stroke: var(--primary-yellow);
                                                    }
                                                }
                                            }
                                        }

                                        .custom-select-options-dropdown-wrapper {
                                            top: 33px;
                                            left: 0;
                                        }

                                        &.filter-menu-item.active .filter-menu-panel svg {
                                            transform: rotate(45deg);
                                        }
                                    }
                                }

                                &.aside-bar-advanced-filter-list-container.active {
                                    grid-template-rows: 1fr;
                                    /* Smoothly open to exact height */
                                    opacity: 1;
                                    height: 100%;
                                    visibility: visible;
                                }
                            }

                            .filter-reset-wrapper {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 40px;

                                .filter-reset-text {
                                    font-family: var(--ff-hellix);
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 16px;
                                    color: #db423de7;
                                }

                                svg {
                                    transform: scale(1.02);

                                    path {
                                        transition: all .3s ease;
                                        stroke: #db423de7;
                                    }

                                    &:hover {
                                        cursor: pointer;

                                        path {
                                            stroke: #FF4E48;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 10px;
                    background: linear-gradient(34.01deg, rgba(255, 255, 255, 0.048) 13.36%, rgba(221, 229, 255, 0.27) 114.95%), linear-gradient(10deg, rgba(2, 28, 120, 0.01), rgba(2, 28, 120, 0.092));
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: black;
                    border-radius: 6px;
                    border: 1px solid transparent;
                    background-clip: padding-box;
                }
            }

            .search-page-aside-bar-section::-webkit-scrollbar,
            .search-page-aside-bar-section::-webkit-scrollbar-thumb {
                background-color: transparent;
                background: none;
            }

            .search-page-aside-bar-section.is-scrolling::-webkit-scrollbar {
                width: 10px;
                background: linear-gradient(34.01deg, rgba(255, 255, 255, 0.048) 13.36%, rgba(221, 229, 255, 0.27) 114.95%), linear-gradient(10deg, rgba(2, 28, 120, 0.01), rgba(2, 28, 120, 0.092));
                border-radius: 10px;
            }

            .search-page-aside-bar-section.is-scrolling::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 6px;
                border: 1px solid transparent;
                background-clip: padding-box;
            }

            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* Search Main Cards Section  */
            .search-main-cards-section {
                width: 100%;
                flex: 1;

                .search-main-cards-container {
                    width: 100%;
                    padding-left: 20px;

                    .main-cards-container-header {
                        border-radius: 20px;
                        background: #0E1014;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 16px;

                        .california-head {
                            display: flex;
                            align-items: center;

                            svg {}

                            span {
                                margin-left: 4px;
                                font-size: 18px;
                                font-weight: 400;
                                list-style: 28px;
                                color: var(--white);
                                font-family: var(--ff-bambino);
                            }
                        }

                        .cards-view-switcher-buttons {
                            display: flex;

                            .grid-layout-btns {
                                display: flex;
                                padding-right: 40px;

                                >div {
                                    svg {
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                }

                                .list-view-btn {
                                    position: relative;
                                    left: -36px;

                                    svg {
                                        transition: all .4s ease;
                                        position: absolute;
                                        z-index: 1;
                                    }

                                    .simple-list-svg {
                                        opacity: 0;
                                    }

                                    .gradient-list-svg {
                                        opacity: 1;
                                    }

                                    &.list-view-btn.active {
                                        .simple-list-svg {
                                            opacity: 1;
                                        }

                                        .gradient-list-svg {
                                            opacity: 0;
                                        }
                                    }
                                }

                                .grid-view-btn {
                                    position: relative;

                                    svg {
                                        transition: all .4s ease;
                                        position: absolute;
                                        z-index: 1;
                                    }

                                    .simple-grid-svg {
                                        opacity: 0;
                                    }

                                    .gradient-grid-svg {
                                        opacity: 1;
                                    }

                                    &.grid-view-btn.active {
                                        .simple-grid-svg {
                                            opacity: 1;
                                        }

                                        .gradient-grid-svg {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .search-provider-profile-cards-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 22px;

                        .search-provider-profile-card-wrapper {
                            position: relative;
                            aspect-ratio: 366/350;
                            width: 100%;
                            overflow: hidden;

                            .provider-card-image {
                                position: absolute;
                                inset: 0;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 10px;
                                    object-position: top;
                                }
                            }

                            .provider-card-header {
                                position: absolute;
                                top: 10px;
                                left: 15px;
                                right: 15px;
                                display: flex;
                                justify-content: space-between;

                                .provider-status-bedge {
                                    background-color: #00000096;
                                    backdrop-filter: blur(10px);
                                    box-shadow: 0px 4px 4px 0px #FE990B1A;
                                    border-radius: 18px;
                                    display: flex;
                                    align-items: center;
                                    gap: 2px;
                                    padding: 5px 13px;

                                    svg {}

                                    span {
                                        font-size: 10px;
                                        line-height: 10px;
                                        color: var(--white);
                                        font-family: var(--ff-hellix);
                                    }
                                }

                                .heart-icon {
                                    svg {}
                                }
                            }

                            .provider-card-content-details {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;

                                .provider-summary-details {
                                    .provider-nameplate {
                                        display: flex;
                                        align-items: center;
                                        gap: 6px;

                                        .provider-profile-badge {
                                            margin-left: 8px;

                                            img {
                                                width: 34px;
                                                height: 30px;
                                            }
                                        }

                                        .provider-name {
                                            font-family: var(--ff-bambino);
                                            font-weight: 400;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            color: var(--white);
                                        }
                                    }

                                    .provider-card-personal-detail {
                                        background-color: #1D1E22;
                                        display: flex;
                                        padding: 5px 5px 8px 8px;
                                        border-radius: 10px;
                                        gap: 12px;

                                        .provider-summary-content {
                                            width: 100%;

                                            .member-location-travel-tags {
                                                display: flex;
                                                align-items: center;
                                                gap: 5px;

                                                .location-text {
                                                    font-family: var(--ff-hellix);
                                                    font-weight: 500;
                                                    font-size: 12px;
                                                    line-height: 28px;
                                                    color: var(--white);
                                                    min-width: max-content;
                                                }

                                                .date-range {
                                                    display: flex;
                                                    align-items: center;
                                                    gap: 3px;
                                                    border: 1px solid #FFFFFF36;
                                                    background: black;
                                                    display: flex;
                                                    padding: 1px 2px 1px 4px;
                                                    border-radius: 5px;
                                                    gap: 6px;

                                                    .travel-icon {
                                                        img {
                                                            width: 16px;
                                                            height: 16px;
                                                        }
                                                    }

                                                    .start-date {
                                                        font-family: var(--ff-hellix);
                                                        font-weight: 400;
                                                        font-size: 9px;
                                                        line-height: 12px;
                                                        color: var(--black);
                                                        padding: 2px;
                                                        border-radius: 3px;
                                                        background-color: white;

                                                        span {
                                                            font-weight: 600;
                                                            font-size: 9px;
                                                        }
                                                    }

                                                    .end-date {
                                                        font-family: var(--ff-hellix);
                                                        font-weight: 400;
                                                        font-size: 9px;
                                                        line-height: 12px;
                                                        color: var(--black);
                                                        padding: 2px;
                                                        border-radius: 3px;
                                                        background-color: white;

                                                        span {
                                                            font-weight: 600;
                                                            font-size: 9px;
                                                        }
                                                    }
                                                }
                                            }

                                            .member-physical-attributes-list {
                                                display: flex;
                                                gap: 4px;
                                                margin: 6px 0;

                                                .member-physical-attribute {
                                                    font-size: 10px;
                                                    font-weight: 400;
                                                    line-height: 12px;
                                                    color: var(--white);
                                                    padding: 3px 0;
                                                    border-radius: 6px;
                                                    backdrop-filter: blur(16px);
                                                    font-family: var(--ff-hellix);
                                                    background-color: #4a4b4e;
                                                    display: flex;
                                                    justify-content: center;
                                                    width: 100%;
                                                }
                                            }

                                            .member-info-btn {
                                                padding: 4px 0;
                                                border-radius: 7px;
                                            }
                                        }

                                        .provider-pricing-list {
                                            background: black;
                                            border-radius: 8px;
                                            margin-top: -32px;
                                            margin-left: auto;

                                            .provider-pricing-item {
                                                padding: 5px 8px;

                                                .pricing-head {
                                                    min-width: max-content;
                                                    max-width: max-content;
                                                    font-size: 11px;
                                                    line-height: 12px;
                                                    color: var(--white);
                                                    font-family: var(--ff-hellix);
                                                    /* padding-bottom: 3px; */
                                                }

                                                .pricing-tag {
                                                    align-items: center;
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                            }

                                            :nth-child(2).provider-pricing-item {
                                                background-color: #2A221F;
                                                margin-inline: 1px;

                                                .pricing-head {}

                                                .pricing-tag {
                                                    display: flex;

                                                    .pricing-tag-image {
                                                        img {}
                                                    }

                                                    svg {}
                                                }
                                            }

                                            :nth-child(3).provider-pricing-item {
                                                margin: 1px;
                                                border-bottom-left-radius: 8px;
                                                border-bottom-right-radius: 8px;
                                                background-color: #2A221F;

                                                .pricing-head {}

                                                .pricing-tag {
                                                    display: flex;

                                                    .pricing-tag-image {
                                                        img {}
                                                    }

                                                    svg {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        :nth-child(1).search-provider-profile-card-wrapper {
                            grid-column: 1;
                        }

                        :nth-child(2).search-provider-profile-card-wrapper {
                            & .provider-card-header {
                                & .provider-status-bedge {
                                    border: 1px solid #FFD700;

                                    span {
                                        color: #FFD700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* ###########################################  */
            /*      END :: Search Main Cards Body           */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* ###########################################  */
            /* #############################################  */
            /* START :: Spotlight Featured MoneyBoy Side Bar  */
            /* #############################################  */
            .search-spotlight-featured-sidebar {
                flex: 0 0 20%;

                .search-spotlight-featured-members {
                    h3 {
                        background: linear-gradient(161.51deg, #AAAAAA 12.53%, #FFFFFF 107.92%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 32px;
                        font-family: var(--ff-bambino);
                    }

                    .spotlight-members-list {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .spotlight-member-card {
                            aspect-ratio: 366/183;
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                            border-radius: 10px;
                            z-index: 2;

                            .spotlight-member-image {
                                z-index: 3;
                                position: relative;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .spotlight-member-content {
                                position: absolute;
                                bottom: 9px;
                                left: 10px;
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                z-index: 5;

                                .member-content-header {
                                    display: flex;
                                    gap: 6px;
                                    align-items: center;

                                    .spotlight-profile-badge {
                                        margin-left: 6px;

                                        img {
                                            width: 26px;
                                            height: 22px;
                                            display: flex;
                                        }
                                    }

                                    .member-name {
                                        font-family: var(--ff-bambino);
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 22px;
                                        color: var(--white);
                                    }
                                }

                                .spotlight-member-location {
                                    display: flex;

                                    svg {
                                        path {}
                                    }

                                    .location-state {
                                        font-family: var(--ff-hellix);
                                        font-weight: 400;
                                        font-size: 10px;
                                        line-height: 10px;
                                        color: var(--white);
                                    }
                                }
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                inset: 0;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
                                        rgba(0, 0, 0, 0.8) 100%);
                                z-index: 3;
                            }
                        }
                    }
                }
            }

            /* #############################################  */
            /* END :: Spotlight Featured MoneyBoy Side Bar  */
            /* #############################################  */
        }
    }
}