* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 92%;
    margin: 0 auto;
}

/* Font Family Hellix  */
@font-face {
    font-family: 'hellix';
    src: url('../fonts/Hellix-Regular.ttf');
}

/* Font Family bambino  */
@font-face {
    font-family: "bambino";
    src: url('../fonts/Bambino.otf');
}

/* Header Button  */
.header-btn {
    padding: 8px 14px;
    border-radius: 9px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    color: black;
    transition: all .3s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(85.82deg, #FECE26 3.6%, #FE990B 97.13%);
        z-index: -1;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover {
        border-color: gray;
        cursor: pointer;

        &::before {
            opacity: 1;
        }

        span {
            color: black !important;
        }
    }
}

button,
i {
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
    }
}