.hero-section {
    .container {
        .hero-container {
            .hero-container-content {
                h1 {
                    span {}
                }

                .hero-container-desc {}

                .content-filter-dropdown-container {
                    .content-filter-card-wrapper {
                        .content-filter-card {
                            position: relative;
                            background: linear-gradient(10.01deg, rgba(255, 255, 255, 0.089) 13.36%, rgba(221, 229, 255, 0.27) 114.95%);
                            color: white;
                            font-size: 14px;
                            padding: 16px 20px;
                            border-radius: 14px;
                            border: none;

                            .custom-select-label-wrapper {
                                display: flex;
                                justify-content: space-between;

                                .custom-select-label-text {
                                    span {
                                        font-family: "hellix";
                                    }
                                }

                                .custom-select-label-chevron {
                                    svg {
                                        width: 12px;

                                        path {}
                                    }
                                }
                            }

                            .custom-select-list-container {
                                position: absolute;
                                width: 100%;
                                left: 0;
                                top: 56px;
                                height: 0;
                                overflow: hidden;
                                transition: height 0.3s ease-in-out;
                                background: #000000;
                                border-radius: 14px;

                                /* Optional: Rotate the chevron when open */
                                .content-filter-card.active .custom-select-label-chevron {
                                    transform: rotate(180deg);
                                    transition: transform 0.3s ease;
                                }

                                .custom-select-options-list {
                                    list-style: none;
                                    background: linear-gradient(10.01deg, rgba(255, 255, 255, 0.089) 13.36%, rgba(221, 229, 255, 0.27) 114.95%);
                                    background-color: black;
                                    width: 100%;
                                    border-radius: 14px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;
                                    padding: 10px 20px;
                                    z-index: 1;
                                    position: relative;

                                    .custom-select-item {
                                        font-family: "hellix";
                                    }
                                }
                            }
                        }

                        & :hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}