@media (max-width:1230px) {
    .footer-section {
        .footer-container {
            grid-template-columns: auto auto;
            place-content: space-evenly;
            gap: 8px;

            .copy-right-notice {}

            .navigation-list {
                .navigation-item {
                    a {
                        svg {
                            path {}
                        }
                    }
                }
            }

            .utility-toggle-bar-wrapper {
                .lang-filter-wrapper {
                    svg {
                        path {}
                    }

                    >p {}

                    .custom-select-list-container {
                        .content-filter-card.active .custom-select-label-chevron {}

                        .custom-select-options-list {
                            .custom-select-item {}
                        }
                    }
                }

                .units-filter-wrapper {
                    .unit-label {}

                    .unit-slector-dropdown {
                        .unit-selector {}

                        svg {
                            path {}
                        }
                    }
                }
            }

            .footer-legal-links-list {
                .legal-links-item {
                    a {}
                }
            }
        }
    }
}

/* Media Query At :: 992px  */
@media (max-width:992px) {
    .header-section {
        backdrop-filter: blur(22px);
    }

    .hero-section {
        background-position: -265px 80px;
        background-size: 113%;

        .container {
            .hero-container {
                height: 100%;
                min-height: 100%;

                .hero-main-content-container {
                    flex-direction: column;

                    .hero-container-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h1 {
                            font-size: 80px;
                            line-height: 91px;
                            margin-top: 55%;
                            max-width: 600px;
                            text-align: center;

                            span {
                                font-size: inherit;
                                line-height: inherit;
                            }
                        }

                        .hero-container-desc {
                            font-size: 24px;
                            max-width: 100%;
                            text-align: center;
                        }

                        .content-filter-dropdown-container {
                            max-width: 400px;
                            width: 100%;
                            text-align: center;

                            .find-money-boy-btn {
                                &:hover {}
                            }

                            >p {}
                        }
                    }

                    .money-boy-hero-featured-cards-container {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

/* Media Query At :: 827px  */
@media (max-width:827px) {
    .footer-section {
        & .footer-container {
            grid-template-columns: auto;
        }
    }
}

/* Media Query At :: 768px  */
@media (max-width:768px) {
    .header-section {
        .container {
            .header-container {
                .header-logo {
                    width: 180px;

                    img {}
                }

                .header-cta-buttons {
                    gap: 15px;

                    .cta-login-btn {
                        svg {
                            path {}
                        }

                        span {}

                        &:hover {
                            svg {
                                path {}
                            }
                        }
                    }

                    .cta-signup-btn {
                        span {}
                    }
                }
            }
        }
    }

    .hero-section {
        background-position: -207px 80px;
        background-size: 113%;

        .container {
            .hero-container {
                .hero-main-content-container {
                    .hero-container-content {
                        h1 {
                            font-size: 56px;
                            line-height: 63px;
                            max-width: 480px;
                            margin-top: 66%;

                            span {
                                font-size: 56px;
                                line-height: 63px;
                            }
                        }

                        .hero-container-desc {
                            font-size: 16px;
                            line-height: 21px;
                            max-width: 240px;
                        }

                        .content-filter-dropdown-container {
                            .find-money-boy-btn {
                                &:hover {}
                            }

                            >p {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .header-section {
        .container {
            .header-container {
                position: relative;

                .header-logo {
                    width: 130px;

                    img {}
                }

                .header-cta-button-container {
                    .header-cta-buttons {
                        position: fixed;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        inset: 0;
                        top: 76px;
                        height: calc(100vh - 76px);
                        right: -100%;
                        background-color: #000000;
                        flex-direction: column;
                        transition: all .3s ease;
                        gap: 16px;

                        .cta-login-btn,
                        .cta-signup-btn {
                            width: 90%;
                            border: 1px solid white;
                        }
                    }
                }

                .menu-icon {
                    display: block;
                    position: relative;
                    transition: all 3s ease;

                    i {
                        position: absolute;
                        color: white;
                        right: 0;
                        top: -10px;
                        font-size: 20px;
                        transition: all .3s ease;
                    }

                    .fa-xmark {
                        display: none;
                    }
                }
            }

            .header-container:has(input:checked) .header-cta-button-container .header-cta-buttons {
                right: 0;
            }

            .header-container:has(input:checked) .menu-icon .fa-bars {
                display: none;
            }

            .header-container:has(input:checked) .menu-icon .fa-xmark {
                display: block;
            }
        }
    }

    .hero-section {
        background-position: -200px 80px;
        background-size: 124%;

        .container {
            .hero-container {
                .hero-main-content-container {
                    .hero-container-content {
                        h1 {
                            margin-top: 57%;

                            span {}
                        }

                        .hero-container-desc {}

                        .content-filter-dropdown-container {
                            max-width: 340px;

                            .find-money-boy-btn {
                                &:hover {}
                            }

                            >p {}
                        }
                    }

                    & .money-boy-hero-featured-cards-container {
                        .trending-featured-cards-wrapper {
                            margin-bottom: 28px;
                        }
                    }
                }
            }
        }
    }

    .footer-section {
        background-color: black;
        position: relative;

        & .footer-container {
            gap: 30px;

            .copy-right-notice {
                order: 1;
            }

            .navigation-list {
                flex-direction: column;
            }
        }
    }

    /* ############################  */
    /* ############################  */
}

/* Media Query At ::430px  */
@media (max-width:420px) {
    .hero-section {
        background-position: -122px 80px;

        .container {
            .hero-container {
                .hero-main-content-container {
                    .hero-container-content {
                        h1 {
                            font-size: 40px;
                            line-height: 50px;
                            max-width: 330px;
                            margin-top: 103%;

                            span {
                                font-size: 40px;
                                line-height: 50px;
                            }
                        }
                    }

                    & .money-boy-hero-featured-cards-container {
                        & .trending-featured-cards-wrapper {
                            & .trending-featured-cards {
                                & .trending-featured-card {
                                    .trending-featured-card-content {
                                        max-width: 190px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}