.header-section {
    padding: 22px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(22px);

    .container {
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                width: 230px;

                img {
                    width: 100%;
                }
            }

            .header-cta-button-container {
                .header-cta-buttons {
                    display: flex;
                    gap: 30px;
                    margin-left: auto;

                    .cta-login-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        transition: all .3s ease;
                        color: black;

                        svg {
                            path {
                                transition: all .3s ease;
                                fill: white;
                            }
                        }

                        span {
                            font-family: "Hellix";
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: white;
                            transition: all .3s ease;
                        }

                        &:hover {
                            svg {
                                path {
                                    fill: black;
                                }
                            }
                        }
                    }

                    .cta-signup-btn {
                        font-family: "Hellix";
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;

                        span {
                            color: white;
                            transition: all .3s ease;
                        }
                    }
                }
            }

            input {
                display: none;
            }

            .menu-icon {
                display: none;
            }
        }
    }
}

/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
.hero-section {
    background-image: url(../images/background-hero-image.png);
    background-position: -160px center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    .container {
        .hero-container {
            display: flex;
            align-items: center;
            height: 900px;
            min-height: 100vh;
            display: flex;
            align-items: center;

            .hero-main-content-container {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .hero-container-content {
                    margin-bottom: 50px;

                    h1 {
                        max-width: 500px;
                        font-family: 'bambino';
                        color: white;
                        font-weight: 700;
                        font-size: 68px;
                        line-height: 78px;

                        span {
                            color: #FE990B;
                            font-size: inherit;
                        }
                    }

                    .hero-container-desc {
                        font-family: "bambino";
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 30px;
                        max-width: 316px;
                        color: white;
                        padding: 18px 0 36px;
                    }

                    .content-filter-dropdown-container {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        max-width: 350px;

                        .find-money-boy-btn {
                            padding: 14px 0;
                            width: 100%;
                            background: linear-gradient(85.82deg, #FECE26 3.6%, #FE990B 97.13%);
                            border: none;
                            border-radius: 12px;
                            font-family: "Bambino";
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 21px;
                            font-family: "bambino";
                            transition: all .3s ease;
                            margin-top: 6px;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        >p {
                            font-family: "Hellix";
                            font-weight: 400;
                            font-size: 15px;
                            color: white;
                            line-height: 20px;
                            margin-top: 10px;
                        }
                    }
                }

                .money-boy-hero-featured-cards-container {
                    display: flex;
                    flex-direction: column;
                    gap: 26px;
                    margin-top: 100px;

                    .hero-own-boss-card {
                        background-image: url(../images/hero-container-boss-card.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        max-width: 407px;
                        width: 100%;
                        height: 216px;
                        border-radius: 10px;
                        display: flex;
                        align-items: end;

                        .own-boss-card-content-wrapper {
                            backdrop-filter: blur(6px);
                            border-radius: inherit;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            padding: 10px 10px 10px 10px;
                            padding: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5.39%, rgba(0, 0, 0, 0.4) 100%);

                            .own-boss-heading {
                                .own-boss-head {
                                    font-family: "Bambino";
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 28px;
                                    color: white;
                                }

                                .own-boss-desc {
                                    font-family: "Hellix";
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 22px;
                                    color: white;
                                }
                            }

                            .add-post-btn {
                                font-family: "Bambino";
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 21px;
                                padding: 10px 7px;
                                background-color: white;
                                border: none;
                                border-radius: 10px;
                                margin-top: auto;
                                z-index: -1;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: linear-gradient(85.82deg, #FECE26 3.6%, #FE990B 97.13%);
                                    opacity: 0;
                                    border-radius: 10px;
                                    transition: all 0.3s ease;
                                    z-index: -2;
                                }

                                &:hover {
                                    &::before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .trending-featured-cards-wrapper {
                        position: relative;

                        /* ##############################  */
                        /* ##############################  */
                        /* ##############################  */
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 10px;
                            padding: 1px;
                            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.445) 0%, rgba(255, 255, 255, 0.253) 5%, transparent 90%, transparent 100%);
                            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                            -webkit-mask-composite: xor;
                        }

                        /* ##############################  */
                        /* ##############################  */
                        /* ##############################  */
                        /* ##############################  */
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 10px;
                        backdrop-filter: blur(15px);
                        background-color: rgba(187, 176, 176, 0.13);

                        h4 {
                            font-family: "Bambino";
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 24px;
                            background: linear-gradient(161.51deg, #AAAAAA 12.53%, #FFFFFF 107.92%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            color: transparent;
                            /* Fallback for older browsers */
                        }

                        .trending-title {
                            padding: 6px 0 8px;
                        }

                        .trending-title,
                        .explore-title {
                            font-family: "Hellix";
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            color: white;
                        }

                        .trending-featured-cards {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-top: 20px;

                            .trending-featured-card {
                                background-image: url(../images/Jonathan-image.png);
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: contain;
                                height: 120px;
                                position: relative;
                                border-radius: 10px;
                                min-width: 377px;
                                width: 100%;

                                &::after {
                                    content: "";
                                    width: 60px;
                                    height: 100%;
                                    background: linear-gradient(to right,
                                            transparent 0%,
                                            black 90%,
                                            black 100%);
                                    position: absolute;
                                    top: 0;
                                    right: 211px;
                                }

                                .featured-card-image {
                                    height: 120px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .trending-featured-card-content {
                                    position: absolute;
                                    inset: 0;
                                    display: flex;
                                    left: 158px;
                                    ;
                                    background: #000;
                                    flex-direction: column;
                                    padding: 10px;
                                    border-top-right-radius: 10px;
                                    border-bottom-right-radius: 10px;

                                    .top-rated-badge {
                                        margin-left: auto;
                                        border: .5px solid #FECE26;
                                        padding: 6px 4px;
                                        max-width: max-content;
                                        display: flex;
                                        align-items: center;
                                        gap: 3px;
                                        border-radius: 5px;

                                        svg {
                                            path {}
                                        }

                                        span {
                                            font-family: "Hellix";
                                            font-weight: 500;
                                            font-size: 10px;
                                            line-height: 10px;
                                            color: #FECE26;
                                        }
                                    }

                                    .card-profile-title {
                                        display: flex;
                                        align-items: center;
                                        gap: 4px;
                                        padding: 8px 0 6px 0;

                                        .featured-card-profile-badge {
                                            width: 30px;
                                            height: 30px;
                                            margin-top: 6px;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }

                                        p {
                                            font-family: "Bambino";
                                            font-weight: 400;
                                            font-size: 15px;
                                            line-height: 15px;
                                            color: white;
                                        }

                                        .user-name-dot {
                                            background: #1CBEA6;
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 50px;
                                            margin-top: 6px;
                                        }
                                    }

                                    .use-location {
                                        display: flex;
                                        gap: 4px;
                                        align-items: center;

                                        svg {
                                            path {}
                                        }

                                        p {
                                            font-family: "Hellix";
                                            font-weight: 400;
                                            font-size: 12px;
                                            line-height: 14px;
                                            color: #FFFFFFA6;
                                        }
                                    }
                                }
                            }

                            & :nth-child(2).trending-featured-card {
                                background-image: url(../images/ota-reichmann-image.png);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
.footer-section {
    background: rgba(29, 29, 29, 0.349);
    backdrop-filter: blur(15px);
    color: white;
    width: 100%;
    padding: 8px 12px;
    position: fixed;
    bottom: 0;

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        place-items: center;
        display: grid;
        grid-template-columns: auto auto auto auto;

        .copy-right-notice {
            font-family: "Hellix";
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
        }

        .navigation-list {
            display: flex;
            align-items: center;
            gap: 20px;

            .navigation-item {
                a {
                    color: white;
                    text-decoration: none;
                    font-family: "Hellix";
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;

                    svg {
                        display: flex;

                        path {}
                    }
                }
            }
        }

        .utility-toggle-bar-wrapper {
            background: #181B21;
            padding: 5px 5px 5px 12px;
            border-radius: 12px;
            display: flex;
            gap: 10px;
            position: relative;

            .lang-filter-wrapper {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                position: relative;

                .custom-select-options-dropdown-wrapper {
                    position: absolute;
                    width: 100%;
                    z-index: 3;
                    top: 61px;
                    background: #F9F9F9;
                    border-radius: 18px;
                    box-shadow: 0px 0px 0px 3px #FFFFFF inset, 0px 4px 13.5px 0px #00000040;
                    left: 0;
                    display: grid;
                    grid-template-rows: 0fr;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    transition: grid-template-rows 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
                    transform: translateY(-10px);
                    pointer-events: none;
                    border: 1.5px solid transparent;

                    & .custom-select-options-dropdown-container {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        min-height: 0;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        user-select: none;
                        width: 100%;

                        .custom-select-options-search {
                            width: 100%;

                            .label-input {
                                width: 100%;
                                background: #f6f6f6;

                                .input-placeholder-icon {
                                    transition: var(--transition-fast);
                                    position: absolute;
                                    left: 20px;
                                    top: 16px;

                                    .svg-icon {
                                        width: 20px;
                                        height: 20px;

                                        path {
                                            transition: all .3s ease;
                                            stroke: rgba(112, 109, 109, 0.548);
                                        }
                                    }
                                }

                                input {
                                    border: 1.5px solid #ebebeb;
                                    min-height: 35px;
                                    padding-left: 35px;
                                    background-color: transparent;
                                    position: relative;
                                    z-index: 2;
                                    outline: none;
                                    border-radius: 10px;
                                    transition: all .3s ease;

                                    &::placeholder {
                                        font-family: 'hellix';
                                        font-weight: 500;
                                        font-size: 15px;
                                        letter-spacing: 0;
                                        color: #716F6F;
                                        font-size: 14px;
                                        font-size: 13px;
                                        transition: all .3s ease;
                                        line-height: 13px;
                                    }

                                    &:hover {
                                        border: 1px solid rgba(0, 0, 0, 0.384);
                                    }

                                    & :focus {
                                        border: 1px solid rgba(0, 0, 0, 0.788);
                                    }
                                }

                                &.label-input {
                                    &:has(input:focus) {
                                        .input-placeholder-icon {
                                            svg {
                                                path {
                                                    stroke: #2c2a2a;
                                                }
                                            }
                                        }

                                        input {
                                            border-color: #2c2a2a;

                                            &::placeholder {
                                                color: #222020e3;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .custom-select-options-lists-container {
                            width: 100%;
                            max-height: 200px;
                            overflow: auto;
                            scrollbar-width: thin;
                            padding-right: 2px;

                            .custom-select-options-list {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 2px;

                                .custom-select-option {
                                    width: 100%;
                                    padding: 6px 10px;
                                    border-radius: 6px;
                                    cursor: pointer;
                                    min-width: max-content;

                                    span {
                                        width: 100%;
                                        display: block;
                                        font-size: 14px;
                                        font-size: 13px;
                                        color: #2b2b2b;
                                        font-family: 'hellix';
                                    }

                                    &.custom-select-option:hover {
                                        background-color: #f0f0f0;
                                    }
                                }
                            }
                        }
                    }
                }

                /* Jab active ho to ye class kaam karegi */
                .custom-select-options-dropdown-wrapper.active {
                    grid-template-rows: 1fr;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    pointer-events: auto;
                    border-color: #EBEBEB;
                }

                /* .custom-select-element:has(.custom-select-options-dropdown-wrapper.active) .custom-select-chevron {
    transform: rotate(180deg);
} */
                >p {
                    font-family: "Hellix";
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }

                .custom-select-list-container {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: -121px;
                    height: 0;
                    overflow: hidden;
                    transition: height 0.3s ease-in-out;

                    /* display: inline-table; */
                    /* Optional: Rotate the chevron when open */
                    .content-filter-card.active .custom-select-label-chevron {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease;
                    }

                    .custom-select-options-list {
                        list-style: none;
                        background: linear-gradient(10.01deg, rgba(255, 255, 255, 0.089) 13.36%, rgba(221, 229, 255, 0.27) 114.95%);
                        background-color: black;
                        width: 100%;
                        border-radius: 14px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 10px 20px;
                        z-index: 1;
                        position: relative;

                        .custom-select-item {
                            font-family: "hellix";
                        }
                    }
                }
            }

            .units-filter-wrapper {
                display: flex;
                gap: 8px;
                align-items: center;

                .unit-label {
                    font-family: "Hellix";
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                }

                .unit-slector-dropdown {
                    display: flex;

                    .unit-selector {
                        font-family: "Hellix";
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        border: 1px solid #FECE26;
                        padding: 5px;
                        border-radius: 6px;
                    }

                    svg {
                        path {
                            stroke: #FECE26;
                        }
                    }
                }
            }
        }

        .footer-legal-links-list {
            display: flex;
            gap: 20px;

            .legal-links-item {
                a {
                    text-decoration: none;
                    color: white;
                    font-family: "Hellix";
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}