.header-section {
    padding: 22px 0;

    .container {
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                width: 230px;

                img {
                    width: 100%;
                }
            }

            .header-cta-buttons {
                display: flex;
                gap: 30px;

                .cta-login-btn {
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    .login-placeholder-icon {
                        display: flex;
                        width: 20px;

                        img {
                            width: 20px;
                        }
                    }

                    span {
                        font-family: "Hellix";
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: white;
                    }
                }

                .cta-signup-btn {
                    background-color: black;
                    font-family: "Hellix";
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: white;
                }
            }
        }
    }
}

/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
.hero-section {
    height: 100vh;
    background-image: url(../images/background-hero-image.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    .container {
        .hero-container {
            .hero-container-content {
                h1 {
                    span {}
                }

                .hero-container-desc {}

                .dropdown-container {
                    .custom-select {
                        select {
                            option {}
                        }
                    }

                    .find-money-boy-btn {}
                }
            }
        }
    }
}