.header-section {
    padding: 22px 0;
    background-color: black;

    .container {
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                width: 230px;

                img {
                    width: 100%;
                }
            }

            .header-cta-button-container {
                .header-cta-buttons {
                    display: flex;
                    gap: 30px;
                    margin-left: auto;

                    .cta-login-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        transition: all .3s ease;
                        color: black;

                        svg {
                            transition: all .3s ease;

                            path {
                                transition: all .3s ease;
                                fill: white;
                            }
                        }

                        span {
                            font-family: "Hellix";
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: white;
                            transition: all .3s ease;
                        }

                        &:hover {
                            svg {
                                path {
                                    fill: black;
                                }
                            }
                        }
                    }

                    .cta-signup-btn {
                        font-family: "Hellix";
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;

                        span {
                            color: white;
                            transition: all .3s ease;
                        }
                    }
                }
            }

            input {
                display: none;
            }

            .menu-icon {
                display: none;
            }
        }
    }
}

/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
/* ########################  */
.hero-section {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100vh;
    background-image: url(../images/background-hero-image.png);
    background-position: 10% center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    .container {
        .hero-container {
            display: flex;
            align-items: center;
            height: 100vh;

            .hero-container-content {
                h1 {
                    max-width: 500px;
                    font-family: 'Bamboni';
                    color: white;
                    font-weight: 700;
                    font-size: 68px;
                    line-height: 78px;

                    span {
                        color: #FE990B;
                    }
                }

                .hero-container-desc {
                    font-family: "Bamboni";
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    max-width: 316px;
                    color: white;
                    padding: 10px 0 20px;
                }

                .content-filter-dropdown-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 350px;

                    .find-money-boy-btn {
                        padding: 14px 0;
                        max-width: 350px;
                        width: 100%;
                        background: linear-gradient(85.82deg, #FECE26 3.6%, #FE990B 97.13%);
                        border: none;
                        border-radius: 12px;
                        font-family: "Bambino";
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 21px;
                        font-family: "Bamboni";
                        transition: all .3s ease;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    >p {
                        font-family: "Hellix";
                        font-weight: 400;
                        font-size: 14px;
                        color: white;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}